<!--Id's will be passed to the buttons edit, update and delete
    so the model type is int-->
@model int

<td style="width:150px;">
    <div class="btn-group" role="group">
        <!--The '+Model' is the Id that will be passed from the Index view of ProductTypes-->
        <a type="button" class="btn btn-primary" href="@Url.Action("Edit/"+Model)">
            <i class="fas fa-edit"></i>
        </a>
        <a type="button" class="btn btn-success" href="@Url.Action("Details/"+Model)">
            <i class="fas fa-list-alt"></i>

        </a>
        <a type="button" class="btn btn-danger" href="@Url.Action("Delete/"+Model)">
            <i class="fas fa-trash-alt"></i>

        </a>

    </div>
</td>