@model StoneHouse.Models.Products
<!--Add the extension-->
@using StoneHouse.Extensions

<br />

<h2 class="text-info">Product Details</h2>


<!--The asp-action is not required becasue the post method will by default post to the name of this view
    This only works if you are trying to make an action Create as both this view and teh action names will be the same-->
<!--The enctype is used because of images -->
<form method="post">
    <div class="p-4 border rounded row">
        <input hidden asp-for="Id" />

        <div class="col-8">

            <div class="form-group row">
                <div class="col-4">
                    <!--The 'asp-for' will automatically bind this Name to the ProductTypes model property called Name -->
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <!--The 'asp-for' will automatically bind this Name to the ProductTypes model property called Name -->
                    <label asp-for="ShadeColor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ShadeColor" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <!--The 'asp-for' will automatically bind this Name to the ProductTypes model property called Name -->
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" readonly class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <!--The 'asp-for' will automatically bind this Name to the ProductTypes model property called Name -->
                    <label asp-for="ProductTypes"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductTypes.Name" readonly class="form-control" />

                </div>
            </div>
            @if (!Model.SpecialTags.Name.Equals("--None--"))
            {
                <div class="form-group row">
                    <div class="col-4">
                        <!--The 'asp-for' will automatically bind this Name to the ProductTypes model property called Name -->
                        <label asp-for="SpecialTags"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ProductTypes.Name" readonly class="form-control" />

                    </div>
                </div>
            }

            <div class="form-group row">
                <div class="col-4">

                </div>
                <div class="col-8">
                    <button type="submit" value="Add to Bag" asp-route-id="@Model.Id" class="btn btn-primary form-control">Add To Bag</button>
                </div>

            </div>

        </div>

            <div class="col-1">

            </div>

            <div class="col-3">

                <img src="@Model.Image" width="100%" style="border-radius: 5px; border:1px solid #bbb9b9" />
                <br /><br />
                @if (Model.Available)
                {
                    <img src="~/images/instock-logo.png" alt="inStock Logo" width="50%" />
                }
            </div>

            <br />

            <div class="form-group">
                <input hidden asp-for="Id" />
                <a asp-action="Index" class="btn btn-success">Back To List</a>
            </div>

        </div>




</form>
